.header{
  position: relative;
  width: 100%;
  height: 220px;
  padding-top: 20px;
  left: 0px;
  top: -10px;
  text-align: center;
  background: #59D3DF;
}

.suggestion {
  color: rgb(167, 167, 167);
  cursor: auto !important;
}

.errorMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primaryButton {
  font-size: 0.5em;
  background-color: #FDE5E5;
  color: black;
  border-radius: 6px;
  padding: 7px;
  cursor: pointer;
}

h1{
  font-size: 2em;
}

.list{
  margin-top: 5px;
  display: flex;
  position: relative;
  z-index: 1000;
  flex-direction: column;
  background-color: white;
  width : 30%;
  border-radius: 5px;
}

.loader {
  margin: 0 auto;
  margin-top: 3rem;
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #FDE5E5;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.list-item{
  display: block;
  padding : 10px;
  cursor: pointer;
  border : 1px solid rgba(0,0,0,0.125);
}
.hidden{
  display: none;
}
.hide{
  visibility: hidden;
}
.title-container{
  display : flex;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-container img{
  margin-right: 20px;
}

.title-container h1 {
  color: white;
}

.control{
  width: 100%;
}

.search-button{
  background-color: #FDE5E5;
  margin-left: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.search{
  padding : 10px;
  width : 30%;
  border-radius: 5px;
}

.searchContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-data{
  background-color: #59D3DF;
  margin: auto;
  margin-top: 200px;
  padding : 10px 20px;
  padding-bottom: 20px;
  color: white;
  border-radius: 6px;
  z-index: -10;
}

.info {
  border-right: 1px solid #FDE5E5;
}

.data-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.data-title h1{
  display: inline;
}

.navigation{
  display: flex;
  flex-direction: row;
}

.navigation-button{
  margin-right: 20px;
  background-color: #FDE5E5;
  border: none;
  padding: 0;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1rem;
  color: black;
}

.weeklyWeather{
  display: flex;
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.curve{
  position: absolute;
  top : 200px;
  left : 0px;
  z-index: -10;
}

.fa {
  margin : 5px
}

@media only screen and (max-width: 1600px){
  .weather-data{
    background-color: #59D3DF;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 80px;
    padding : 30px 20px;
    padding-bottom: 20px;
    color: white;
    border-radius: 6px;
    z-index: -10;
  }
}

@media only screen and (max-width: 650px) and (orientation : landscape) {
  body{
    font-size: 1em;
  }
  .navigation-button{
    margin-right: 10px;
  }

  h1 {
    font-size: 2em;
  }
  .title-container img{
    margin-right: 20px;
    width: 15%;
  }
  .control form {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search {
    width: 70%;
  }
  .search-button {
    margin-left: 0px;
    margin-top: 5px;
  }
  .list {
    width: 70%;
  }
  .curve {
    top : 220px;
  }

  .weather-data {
    margin-top: 80px;
    width: 90%;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 900px) and (orientation : landscape) {
  body{
    font-size: 1em;
  }
  .navigation-button{
    margin-right: 10px;
  }

  h1 {
    font-size: 2em;
  }
  .title-container img{
    margin-right: 20px;
    width: 15%;
  }
  .control form {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search {
    width: 70%;
  }
  .search-button {
    margin-left: 0px;
    margin-top: 5px;
  }
  .list {
    width: 70%;
  }
  .curve {
    top : 220px;
  }

  .weather-data {
    margin-top: 80px;
    width: 90%;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

}

@media only screen and (max-width: 479px) {
  body{
    font-size: 1em;
  }
  .navigation-button{
    margin-right: 5px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 1rem;
  }

  h1 {
    font-size: 2em;
  }
  .title-container img{
    margin-right: 20px;
    width: 20%;
  }
  .control form {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search {
    width: 70%;
  }
  .search-button {
    margin-left: 0px;
    margin-top: 5px;
  }
  .list {
    width: 70%;
  }
  .curve {
    top : 220px;
  }

  .weather-data {
    margin-top: 50px;
    width: 90%;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .info{
    border-right: none;
    border-bottom: 1px solid #FDE5E5;
    margin-right: 0px;
    margin-bottom: 10px;
  }
}